PORT=3001
OMGEVINGSLOKET_BASE_URL=https://omgevingsloketinzage.omgeving.vlaanderen.be
DEBUG_OMGEVINGSLOKET=false
REQUEST_TIMEOUT_MS=15000
MAX_CONCURRENT_REQUESTS=3
CACHE_TTL_MS=300000
DOWNLOAD_JOB_TTL_MS=900000
